{% extends "zinnia/base.html" %}
{% load i18n %}

{% block meta-description %}{% translate "Category list" %}{% endblock meta-description %}

{% block title %}{% translate "Categories" %}{% endblock title %}

{% block body-class %}category-list{% endblock body-class %}

{% block content %}
<h1>{% translate "Category list" %}</h1>

<ul>
  {% for object in object_list %}
  <li>
    <a href="{{ object.get_absolute_url }}"
       title="{% blocktranslate with category=object %}Show all entries in {{ category }}{% endblocktranslate %}">{{ object }}</a>
    {% blocktranslate count entry_count=object.count_entries_published %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktranslate %}
    {% if object.description %}<p>{{ object.description|striptags|safe }}</p>{% endif %}
  </li>
  {% empty %}
  <li>
    {% translate "No categories yet." %}
  </li>
  {% endfor %}
</ul>
{% endblock content %}
