{% extends "zinnia/base.html" %}
{% load i18n %}

{% block meta-description %}{% translate "Tag list" %}{% endblock meta-description %}

{% block title %}{% translate "Tags" %}{% endblock title %}

{% block body-class %}tag-list{% endblock body-class %}

{% block content %}
<h1>{% translate "Tag list" %}</h1>

<ul>
  {% for object in object_list %}
  <li>
    <a href="{% url 'zinnia:tag_detail' object %}"
       title="{% blocktranslate with tag=object %}Show all entries tagged by {{ tag }}{% endblocktranslate %}">{{ object }}</a>
    {% blocktranslate count entry_count=object.count %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktranslate %}
  </li>
  {% empty %}
  <li>
    {% translate "No tags yet." %}
  </li>
  {% endfor %}
</ul>
{% endblock content %}
