alabaster
asgiref
babel
beautifulsoup4
blessings
buildout-versions-checker
certifi
chardet
collective.recipe.sphinxbuilder
configparser
coverage
django>=3.2.25
django-contrib-comments
django-js-asset
django-mptt
django-tagging==0.6.0+dismine.1
django-xmlrpc==0.1.8+dismine.1
djangorecipe
docutils
entrypoints
flake8
flake8-import-order
flake8-polyfill
html5lib
idna
imagesize
jinja2
markdown
markupsafe
mccabe
mots-vides
nose
nose-progressive
nose-sfd
olefile
packaging
pbp.recipe.noserunner
pep8-naming
pillow>=10.3.0
pycodestyle
pyflakes
pygments
pyparsing
python-coveralls
pytz
pyyaml
regex
requests
sh
six
snowballstemmer
soupsieve
sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
sqlparse>=0.5.0
textile
typing
urllib3
webencodings
zc.recipe.egg
setuptools==58