{% load i18n zinnia %}
{% url 'changelist'|user_admin_urlname as user_admin_url %}
{% url 'changelist'|comment_admin_urlname as comment_admin_url %}
<tr>
  <th>{% translate "Contents" %}</th>
  <th>{% translate "Discussions" %}</th>
</tr>
<tr>
  <td>
    <a href="{% url 'admin:zinnia_entry_changelist' %}">
      {% blocktranslate count entry_count=entries %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktranslate %}
    </a>
  </td>
  <td>
    {% if comment_admin_url %}
    <a href="{{ comment_admin_url }}?is_public__exact=1">
    {% endif %}
      {% blocktranslate count comment_count=comments %}{{ comment_count }} comment{% plural %}{{ comment_count }} comments{% endblocktranslate %}
    {% if comment_admin_url %}
    </a>
    {% endif %}
  </td>
</tr>
<tr>
  <td>
    <a href="{% url 'admin:zinnia_category_changelist' %}">
      {% blocktranslate count category_count=categories %}{{ category_count }} category{% plural %}{{ category_count }} categories{% endblocktranslate %}
    </a>
  </td>
  <td>{% blocktranslate count pingback_count=pingbacks %}{{ pingback_count }} pingback{% plural %}{{ pingback_count }} pingbacks{% endblocktranslate %}</td>
</tr>
<tr>
  <td>
    <a href="{% url 'admin:tagging_tag_changelist' %}">
      {% blocktranslate count tag_count=tags %}{{ tag_count }} tag{% plural %}{{ tag_count }} tags{% endblocktranslate %}
    </a>
  </td>
  <td>{% blocktranslate count trackback_count=trackbacks %}{{ trackback_count }} trackback{% plural %}{{ trackback_count }} trackbacks{% endblocktranslate %}</td>
</tr>
<tr>
  <td>
    {% if user_admin_url %}
    <a href="{{ user_admin_url }}">
    {% endif %}
      {% blocktranslate count author_count=authors %}{{ author_count }} author{% plural %}{{ author_count }} authors{% endblocktranslate %}
    {% if user_admin_url %}
    </a>
    {% endif %}
  </td>
  <td>
    {% if comment_admin_url %}
    <a href="{{ comment_admin_url }}?is_public__exact=0">
    {% endif %}
      {% blocktranslate count reject_count=rejects %}{{ reject_count }} rejected item{% plural %}{{ reject_count }} rejected items{% endblocktranslate %}
    {% if comment_admin_url %}
    </a>
    {% endif %}
  </td>
</tr>
<tr>
  <th>{% translate "Statistics" %}</th>
  <td>
    {% blocktranslate with entries_per_month=entries_per_month|floatformat:2 %}{{ entries_per_month }} entries per month{% endblocktranslate %}
  </td>
</tr>
<tr>
  <td>
    {% blocktranslate with words_per_entry=words_per_entry|floatformat:2 %}{{ words_per_entry }} words per entry{% endblocktranslate %}
  </td>
  <td>
    {% blocktranslate with words_per_comment=words_per_comment|floatformat:2 %}{{ words_per_comment }} words per comment{% endblocktranslate %}
  </td>
</tr>
<tr>
  <td>
    {% blocktranslate with comments_per_entry=comments_per_entry|floatformat:2 %}{{ comments_per_entry }} comments per entry{% endblocktranslate %}
  </td>
  <td>
    {% blocktranslate with linkbacks_per_entry=linkbacks_per_entry|floatformat:2 %}{{ linkbacks_per_entry }} linkbacks per entry{% endblocktranslate %}
  </td>
</tr>
