{% load i18n %}
{% for entry in entries %}
<tr>
  <th>
    {% url 'admin:zinnia_entry_change' entry.pk as entry_edit_url %}
    <a href="{{ entry_edit_url }}" title="{% translate "Edit the entry" %}">
      {{ entry.title }}
    </a>
    {% translate "on" context "time" %}
    <time>{{ entry.publication_date|date:"DATE_FORMAT" }}</time>
    {{ entry.html_content|truncatewords_html:20|safe }}
  </th>
  <td>
    <a href="{{ entry.get_absolute_url }}" class="previewlink">
      {% translate "Preview" %}
    </a>
  </td>
</tr>
{% empty %}
<tr>
  <th colspan="2">
    {% translate "No draft entries." %}
  </th>
</tr>
{% endfor %}

{% if entries %}
<tr>
  <th colspan="2">
    <a href="{% url 'admin:zinnia_entry_changelist' %}?status__exact=0"
       title="{% translate "View all draft entries" %}" class="managelink">
      {% translate "View all draft entries" %}
    </a>
  </th>
</tr>
{% endif %}
