{% load i18n %}
<ul class="{% if not categories %}no-{% endif %}categories">
  {% for category in categories %}
  <li{% if category.slug == context_category.slug %} class="current"{% endif %}>
    <a href="{{ category.get_absolute_url }}"
       title="{% blocktranslate %}Show all entries in {{ category }}{% endblocktranslate %}">{{ category }}</a>
    {% blocktranslate count entry_count=category.count_entries_published %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktranslate %}
  </li>
  {% empty %}
  <li>
    {% translate "No categories yet." %}
  </li>
  {% endfor %}
</ul>

