{% load i18n %}
<ul class="statistics">
  <li>
    {% blocktranslate count author_count=authors %}{{ author_count }} author{% plural %}{{ author_count }} authors{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate count entry_count=entries %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate count tag_count=tags %}{{ tag_count }} tag{% plural %}{{ tag_count }} tags{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate count category_count=categories %}{{ category_count }} category{% plural %}{{ category_count }} categories{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate count comment_count=comments %}{{ comment_count }} comment{% plural %}{{ comment_count }} comments{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate count pingback_count=pingbacks %}{{ pingback_count }} pingback{% plural %}{{ pingback_count }} pingbacks{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate count trackback_count=trackbacks %}{{ trackback_count }} trackback{% plural %}{{ trackback_count }} trackbacks{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate count reject_count=rejects %}{{ reject_count }} rejected item{% plural %}{{ reject_count }} rejected items{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate with entries_per_month=entries_per_month|floatformat:2 %}{{ entries_per_month }} entries per month{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate with words_per_entry=words_per_entry|floatformat:2 %}{{ words_per_entry }} words per entry{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate with words_per_comment=words_per_comment|floatformat:2 %}{{ words_per_comment }} words per comment{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate with comments_per_entry=comments_per_entry|floatformat:2 %}{{ comments_per_entry }} comments per entry{% endblocktranslate %}
  </li>
  <li>
    {% blocktranslate with linkbacks_per_entry=linkbacks_per_entry|floatformat:2 %}{{ linkbacks_per_entry }} linkbacks per entry{% endblocktranslate %}
  </li>
</ul>
